html {
  background-color: #26232A;
}
h1 {
  color: #F24D92;
}
h2 {
  background-color: #26232A;
  color: #CCC739;
}
button.save {
  font-weight: bold;
  font-size: 144%;
  width: 160px;
  height: 40px;
}
.each_site {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #293256;
}
.site_top {
  grid-column-start: 1;
  grid-column-end:   2;
}
.site_top label {
  font-weight: bold;
  font-size: 120%;
  background-color: #E8B683;
}
input[type="text"] {
  background-color: #DFE2F1;
}
input[type='url'] {
  background-color: #DFE2F1;
}
.site_ope {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.each_template {
  border: 1px solid black;
  grid-column-start: 1;
  grid-column-end:   4;
  display: grid;
  grid-template-columns: 80px 20px 1fr 1fr 1fr;
}
.template_ope {
  grid-column-start: 1;
  grid-column-end:   2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.template_body {
  grid-column-start: 3;
  grid-column-end:   5;
}
.template_rows th {
  background-color: #E8B683;
}
.template_rows label {
  font-weight: bold;
  background-color: #CCC739;
}
.template_rows label input {
  width: 160px;
  padding-left: 1em;
}
