@charset "utf8";
body {
  width: 100%;
  height: 100%;
}

td {
  border: 1px solid;
}

td.button {
  cursor: pointer;
}

td.button:hover {
  background-color: #55ee55;
}

/* vim:expandtab ff=dos fenc=utf-8 sw=2 */
